@import "tailwindcss";
@import "@fontsource/tektur/600.css";
@import "@fontsource/tektur/400.css";
@import "@fontsource/oswald/500.css";
@import "@fontsource/oswald/300.css";
@import "@fontsource/oswald/700.css";
@import "@fontsource/inter/700.css";

@theme {
  --font-tektur: "Tektur", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-accent: #aa3bff;
  --color-primary: #dd3030;

  --animate-accordion-down: accordion-down 250ms ease-out;
  --animate-accordion-up: accordion-up 250ms ease-out;
}

html {
  scroll-behavior: smooth;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
