@import "tailwindcss";
@import "@fontsource/tektur/600.css";
@import "@fontsource/oswald/700.css";
@import "@fontsource/inter/700.css";

@theme {
  --font-tektur: "Tektur", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-inter: "Inter", sans-serif;
}
