@import "tailwindcss";
@import "@fontsource/tektur/600.css";
@import "@fontsource/tektur/400.css";
@import "@fontsource/oswald/500.css";
@import "@fontsource/oswald/400.css";
@import "@fontsource/oswald/700.css";
@import "@fontsource/inter/700.css";

@theme {
  --font-tektur: "Tektur", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-accent: #aa3bff;
  --color-primary: #dd3030;
}

html {
  scroll-behavior: smooth;
}
